/* yui3 css reset */
body,div,ul,li,h1,form,input,textarea,p{margin:0;padding:0;}
img{border:0;}
em,strong{font-style:normal;font-weight:normal;}
h1{font-size:100%;font-weight:normal;}
li{list-style:none;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%;}

/* yui3 css fonts */
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}
select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}

/***** LAYOUT *****/

body {
    font-family: sans-serif;
}

#doc {
    margin: auto;
    min-width: 640px;
    width: 970px;
}

#hd {
    ibackground: green;
}

#ct {
    background: cyan;
    float: left;
    width: 640px;
}

#vd {
    background: red;
}

#md {
    background: blue;
}

#sw {
    background: teal;
    float: right;
    margin-left: -650px;
    overflow: hidden;
    width: 100%;
}

#sb {
    background: yellow;
    margin-left: 640px;
}

#st {
    background: orange;
    clear: both;
}

#ft {
    ibackground: magenta;
}

.play #doc {
    max-width: 970px;
    width: auto;
    _width: 970px;
}

.edit #doc {
    min-width: 800px;
    width: 90%;
}

.edit #sidebar {
    height: 411px;
}

/* RTL intls */
.rtl {
    direction: rtl;
}
.rtl #ct {
    float: right;
}
.rtl #sw {
    float: left;
    margin: 0 -640px 0 0;
}
.rtl #sb {
    margin: 0 640px 0 0;
}
/* end of RTL intls */

#results {
    overflow: auto;
    height: 372px;
}

/***** END OF LAYOUT *****/

a {
    text-decoration: none;
}


/***** HEADER *****/

#lg {
    font: bold 28px "Arial Narrow", Arial, sans-serif;
    padding: 0.5em 0;
}

#lgy {
    color: #3a3a3a;
    padding-right: 0.1em;
}

#lge {
    background: #ff4b4b;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff4b4b), color-stop(50%, #f33), color-stop(85%, #b90f0f));
    background: -webkit-linear-gradient(top, #ff4b4b 0%, #f33 50%, #b90f0f 85%);
    border: 1px solid #f33;
    border-bottom-color: #b90f0f;
    border-radius:10px/13px;
    color: #fff;
    padding: 0.1em 0.2em;
}

/***** END Of HEADER *****/


/***** PLAY *****/

#player {
    background-color: #000;
    height: 390px;
    width: 640px;
}

/***** END OF PLAY *****/


/***** EMBED *****/

.embed {
    overflow: hidden;
}

.embed #video {
    width: 100%;
}

/***** END OF EMBED *****/


/***** EDIT *****/

/* Mark input controls */
.markinput {position: relative; height:3em;}
.markinput .wcontrols {width:350px; left:40px; position:absolute; top:1em;}
.markinput .controls {border:1px solid #000; position:relative; height:9px; border-width:0 0 3px 0;}
.markinput .time {background-color:#fff;}
.markinput .time input {width:3em; text-align: center;}
.markinput .from {position:absolute;}
.markinput .to {position:absolute; right:0;}
.markinput .wadd {width:100%; float:left; text-align:center;}
.markinput .from:after,
.markinput .add:after {content:"<";}
.markinput .to:before,
.markinput .add:before {content:">";}
.markinput .time label {position:absolute; top:-1.2em; font-family:sans-serif; font-size:73%; width:3em; text-align:center;}
.markinput .time.add label {top:-1.1em;}

#slider-to .yui3-slider-thumb {
    margin-top: -26px !important;
    top: 0 !important;
}
#slider-to .yui3-slider-rail,
#slider-to .yui3-slider-rail-cap-left,
#slider-to .yui3-slider-rail-cap-right {
    background-image: none !important;
}

.scroller {
    background: #000;
    border-top: 5px solid #000;
    height: 153px;
    margin-top: -1.5em;
    overflow: auto;
}

.tl-wrapper {
    padding-top: 4px;
    width: 300%;
}

#timeline {
    background-color: #000;
    border: 0 dotted #fff;
    border-width: 8px 0;
    zoom: 1;
}

#timeline:after {display: block; clear: both; visibility: hidden; content: '.'; height: 0;}

#timeline ul {
    background: #000;
    float: left;
    margin: 0;
    min-height: 108px;
    padding: 0;
    position: relative;
    zoom: 1;
}

#timeline ul li {
    background-color: #000;
    cursor: move;
    float: left;
    list-style-type: none;
    margin: 2px;
    min-height: 98px;
    min-width: 120px;
    padding: 3px;
    position: relative;
    text-align: center;
    zoom: 1;
}

#timeline img {
    margin-bottom: -6px;
}

#timeline .time {
    color: #e9941f;
    font-size: 60%;
    line-height: 10px;
}

.time .from {
    float: left;
}

.time .to {
    float: right;
}

.time .len:before,
.time .from:before {
    content: "\2190\A0" /* &larr; */
}

.time .len:after,
.time .to:after {
    content: "\A0\2192" /* &rarr; */
}

#timeline .del {
    bottom: 0;
    position: absolute;
    right: 0;
    visibility: hidden;
}

#timeline ul li:hover {
    background-color: #444;
}

#timeline ul li:hover .del {
    visibility: visible;
}

/***** END OF EDIT *****/


/***** SEARCH *****/

.no-more #more-btn {
    visibility: hidden;
}

/***** END OF SEARCH *****/
