<meta charset="utf-8">
<title>{{title}}</title>
<link rel="stylesheet" href="{{=&cdn=}}/css/base/fonts.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/base/reset.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/base/icons.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/base.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/base/common.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/base/footer.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/landing.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/landing/head.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/landing/search.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/landing/timeline.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/watch.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/watch/video.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/watch/comments.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/watch/social.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/watch/social/share.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/head.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/video.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/search.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/search/autocomplete.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/search/query.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/search/results.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/search/source.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/track.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/track/duration.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/track/range.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/track/selector.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/track/sliders.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/timeline.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/timeline/audiotrack.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/timeline/filmstrip.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/timeline/timemarks.css">
<link rel="stylesheet" href="{{=&cdn=}}/css/edit/timeline/videotrack.css">
