<div id="footer">
  <p>{{_copyright_}}</p>
  <ul>
    <li><a href="#about">{{_about_}}</a></li>
    <li><a href="#privacy">{{_privacy_}}</a></li>
    <li><a href="#terms">{{_terms_}}</a></li>
    <li><a href="#help">{{_help_}}</a></li>
  </ul>
</div>
