<div id="head">
  <h1 class="logo"><b>YOUED</b>IT</h1>
  <div class="m-watch">
    <h2>{{mixTitle}}</h2>
    <a href="#remix" role="button">{{_remix_}}</a>
  </div>
  <div class="m-edit">
    <input type="text" id="mix-title" placeholder="{{_mix_title_}}" maxlength="100">
    <a id="preview" href="#preview" role="button">{{_preview_}}</a>
  </div>
</div>
