<div id="head">
  <h1 class="logo"><b>YOUED</b>IT</h1>
  <div class="m-watch">
    <h2>{{mixTitle}}</h2>
    <a href="remix" role="button">{{_remix_}}</a>
  </div>
  <div class="m-edit">
    <form>
      <input type="text" id="mix-title" placeholder="{{_mix_title_}}" maxlength="100">
      <input id="preview" type="submit" value="{{_preview_}}">
    </form>
  </div>
</div>
