<script>
  (function(doc){
    var el = doc.getElementById('query');
    function edit() {
      el.removeEventListener('input', edit, false);
      document.body.className = 'edit empty';
    }
    el.focus();
    el.addEventListener('input', edit, false);
  }(document));
</script>

<script src="{{=&cdn=}}/js/requirejs/require.js" data-main="js/app/main-edit"></script>
