<div id="social" class="m-watch">
  <ul>
    <li id="facebook">
      <div id="fb-root"></div>
      <div class="fb-like" data-layout="button_count"></div>
    </li>
    <li id="gplus">
      <div class="g-plusone" data-size="medium"></div>
    </li>
    <li id="twitter">
      <a href="//twitter.com/share" class="twitter-share-button" data-via="youedit" data-related="youedit"></a>
    </li>
    <li class="icon-link"><input type="text" id="link" spellcheck="false" value="http://do.youed.it/Sykt56s"></li>
  </ul>
  <span id="views">{{_&views_}}</span>
  <div id="share">
    <div class="box-message">
      <h2 class="heading">{{_share_heading_}}</h2>
      <h3 class="message">{{_share_message_}}</h3>
    </div>
    <a class="close icon-close" role="button" href="#close"></a>
  </div>
</div>
