<div id="social" class="m-watch">
  <ul>
    <li id="twitter">twitter</li>
    <li id="facebook">facebook</li>
    <li id="gplus">google+</li>
    <li class="icon-link"><input type="text" id="link" spellcheck="false" value="http://do.youed.it/Sykt56s"></li>
  </ul>
  <span id="views">{{_&views_}}</span>
  <div id="share">
    <div class="box-message">
      <h2 class="heading">{{_share_heading_}}</h2>
      <h3 class="message">{{_share_message_}}</h3>
    </div>
    <a class="close icon-close" role="button" href="#close"></a>
  </div>
</div>
