<div id="timeline" class="m-landing m-edit">
  <div class="container">
    <div class="m-landing">
      <h2 class="heading">{{_landing_heading_}}</h2>
      <h3 class="message">{{_&landing_message_}}</h3>
    </div>
    <div class="m-edit">
      <ul class="timemarks"></ul>
      <div id="video-track" class="empty">
        <h2><i class="icon-video"></i>{{_&empty_video_timeline_}}</h2>
        <ul></ul>
      </div>
      <div id="audio-track" class="empty">
        <h2><i class="icon-audio"></i>{{_&empty_audio_timeline_}}</h2>
        <ul></ul>
      </div>
    </div>
  </div>
</div>
