<div id="track" class="m-edit">
  <div class="left-unused"></div>
  <a class="ui-slider-handle"><span id="mark-in"></span></a>
  <a class="ui-slider-handle"><span id="mark-out"></span></a>
  <div class="right-unused"></div>
</div>
