<!doctype html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{=&cdn=}}/css/styles.css">
</head>
<body class="{{=mode=}}">

  <div id="doc">

    <div id="main">

      <div id="head">
        <h1 class="logo"><b>YOUED</b>IT</h1>
        <div class="m-watch">
          <h2>{{mixTitle}}</h2>
          <a href="remix" role="button">{{_remix_}}</a>
        </div>
        <div class="m-edit">
          <form>
            <input type="text" id="mix-title" placeholder="{{_mix_title_}}">  
            <input id="preview" type="submit" value="{{_preview_}}">
          </form>
        </div>
      </div>

      <div id="video">
        <div class="box-message">
          <h2 class="heading">{{_edit_heading_}}</h2>
          <h3 class="message">{{_&edit_message_}}</h3>
        </div>
      </div>

      <div id="social" class="m-watch">
        <ul>
          <li id="twitter">twitter</li>
          <li id="facebook">facebook</li>
          <li id="gplus">google+</li>
          <li><input type="text" id="link" value="http://do.youed.it/Sykt56s"></li>
        </ul>
        <span id="views">{{_&views_}}</span>
        <div id="share">
          <h2 class="heading">{{_share_heading_}}</h2>
          <h3 class="message">{{_share_message_}}</h3>
          <a class="close" role="button" href="#close">x</a>
        </div>
      </div><!-- social -->

    </div><!-- main -->

    <div id="search" class="m-landing m-edit">
      <form>
        <a id="source" class="m-edit icon-video"></a>
        <input type="text" id="query">  
        <input id="mix" class="m-landing" type="submit" value="{{_mix_}}">
      </form>
      <div id="results" class="m-edit">results</div>
    </div>

  </div><!-- doc -->

  <div id="track" class="m-edit block">
    <div id="duration" class="centered">1:38</div>
  </div>

  <div id="timeline" class="m-landing m-watch m-edit">
    <div class="container">
      <div class="m-landing">
        <h2 class="heading">{{_landing_heading_}}</h2>
        <h3 class="message">{{_&landing_message_}}</h3>
      </div>
      <div class="m-edit">
        <div id="video-track">
          <h2><i class="icon-video"></i>{{_&empty_video_timeline_}}</h2>
        </div>
        <div id="audio-track">
          <h2><i class="icon-audio"></i>{{_&empty_audio_timeline_}}</h2>
        </div>
      </div>
    </div>
  </div><!-- timeline -->

  <div id="comments" class="m-watch">comments</div>

  <div id="footer">
    <p>{{_copyright_}}</p>
    <ul>
      <li><a href="#about">{{_about_}}</a></li>
      <li><a href="#privacy">{{_privacy_}}</a></li>
      <li><a href="#terms">{{_terms_}}</a></li>
      <li><a href="#help">{{_help_}}</a></li>
    </ul>
  </div>

</body>
</html>
