<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="{{cdn}}/css/styles.css">
</head>
<body class="{{mode}}">
  <div id="doc">
    <div id="main">
      <div id="head">head
        <h1>{{title}}</h1>
      </div>
      <div id="video">video</div>
    </div>
    <div id="search">search</div>
    <div id="track">track</div>
    <div id="timeline">timeline</div>
    <div id="social">social</div>
    <div id="comments">comments</div>
    <div id="footer">footer</div>
  </div>
</body>
</html>
