<!doctype html>
<html lang="{{=lang=}}">
<head>
  {{> doc_head}}
</head>
<body class="{{=mode=}}">

  <div id="doc">

    <div id="main">

      {{> head}}

      {{> video}}

      {{> social}}

    </div><!-- main -->

    {{> search}}

  </div><!-- doc -->

  {{> track}}

  {{> timeline}}

  {{> comments}}

  {{> footer}}

  {{> scripts}}

</body>
</html>
